.main {
    display: flex;
    flex-flow: column;
}

.navbar {
    min-height: 55px;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand:hover {
    transform: translateY(-5px);
    transform: scale(1.1);
}

.navbar-brand:active {
    transform: translateY(0px);
}

span {
    font-size: 30px;
    font-family: 'Product Sans', sans-serif;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.dash {
    padding-left: 2px;
    padding-right: 2px;
}

.yellow {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}

.body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-fluid {
    min-width: 763px;
}

/* Index.html stylesheet */

.index-header,
.account-header {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 35px;
    padding: 15px;
    background: #e8e8e8;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 35%;
    min-width: 433px;
}

.welcome {
    display:flex;
    flex-flow: column;
    align-items: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-top: 15px;
    margin-bottom: 5px;
}

.welcome-span {
    display: flex;
}

h1 {
    font-size: 50px;
}

span h1 {
    font-size: 80px;
}

.header-para {
    font-size: large;
    letter-spacing: .2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.login {
    margin-right: 10px;
}

.btn-primary {
    width: 120px;
    color: black;
    background-color: #dadada;
    border: 1px solid black;
    position: relative;
}

.btn-primary:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.btn-primary:active {
    transform: translateY(0px);
}

.login-btn {
    margin-left: 5px;
}

.code-text {
    margin-top: 10px;
}

/* Login Pop Up */

.login-container,
.register-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 40px 75px;
    width: 45%;
    min-width: 550px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    opacity: 100%;
}

.blur {
    filter: blur(5px);
}

.hide {
    display: none;
}

.login-header,
.register-header {
    margin-bottom: 25px;
}

.close-login,
.close-register {
    border: 0px;
    border-radius: 100px;
    font-size:large;
    color: #000;
    background: #ffffff;
    position: fixed;
    top: 2%;
    left: 95%;
}

button.close-login:hover,
button.close-register:hover {
    transform: scale(1.2);
}

button.close-login:active,
button.close-register:active {
    transform: translateY(3px);
}

.login-form,
.register-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 15px;
}

.user {
    width: 65px;
}

#login-submit,
#register-submit {
    margin-top: 15px;
    width: 100%;
}

.forgot-pass {
    font-size: 10px;
    padding: 5px;
    margin-left: auto;
}

.forgot-div {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.pass-div {
    margin-top: 10px;
}

.forgot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forgot-code {
    width: 100%;
}

.show-pass,
.reg-show-pass,
.reset-show-pass {
    margin-left: 150px;
}

.register-content {
    display: flex;
}

.error-display {
    max-width: 100px;
    font-size: 12px;
}

/* Error.html */

.error {
    margin-top: 50px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    margin-top: 30px;
    margin-bottom: -30px;
    width: 200px;
    height: 50px;

    text-align: center;
    font-size: x-large;
}

/* Weather.html */
.weather-header {
    color: #F4B400;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 40px;
    margin-left: 75px;
}

#daily-drop,
#monthly-drop,
#yearly-drop,
#weather-drop,
#logout,
#my-account {
    font-size: 15px;
    font-weight: 500;
    opacity: 80%;
}

#daily-drop:hover,
#monthly-drop:hover,
#yearly-drop:hover,
#weather-drop:hover,
#logout:hover,
#my-account:hover {

    transform: translateY(-3px);
    transform: scale(1.1);
    border: 1px solid black;
    opacity: 100%;
}

#daily-drop {
    background-color: #0F9D58;
}

#monthly-drop {
    background-color: #F4B400;;
}

#yearly-drop {
    background-color: #DB4437;
}

#weather-drop {
    background-color: #4285F4;
}

#logout {
    background-color:#929292;
}

#my-account {
    background-color: violet;
}

.dropdown-menu {
    background-color: #dadada;
    border: 1px solid black;
}

#menu-btn {
    width: 170px;
    font-size: 16px;
}

.weather-form {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 15px;
}

.weather-form > button {
    height: 100%;
}

.weather {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -3px 5px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 30px;
    line-height: 1.7rem;
    min-width: 300px;
    min-height: 190px;
    position: relative;
    left: 25px;
}

.close-weather {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #000;
    background: #fff;
    border: 0px;
    border-radius: 100px;
    font-size: large;
}

.close-weather:hover {
    transform: scale(1.05);
}

.close-weather:active {
    transform: translateY(2px);
}

.cities {
    list-style-type: none;
}

.weather-main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.weather-info {
    font-size: 16px;
}

.weather-icon {
    position: absolute;
    top: 15%;
    right: 15%;
}

.temp {
    font-size: 16px;
}


.city {
    font-size: 28px;
    max-width: 150px;
    margin-bottom: 20px;
}

#city-submit {
    min-width: 150px;
}

/* Security.html */ 

.code {
    text-align: center;
}

h1.code {
    margin-bottom: 70px;
}

h5.code {
    text-align: left;
}

h6.code {
    text-align: right;
}

/* Account.html */

.account {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 40px;
}

.acc-user {
    font-size: 1.2rem;
    font-weight: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    border: gray;
    margin-right: 10px;
    margin-top: 10px;
}

.delete-account {
    width: 100%;
}

.delete-account:hover {
    transform: scale(1.1);
}

.change-user,
.change-pass {
    margin-top: 25px;
    width: 185px;
}

/* Change User Popup */

#change-user,
#change-pass {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: x-large;
}

.delete-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.delete-text {
    text-align: start;
    line-height: 1.8rem;
    margin-top: 5px;
}

.delete-pop {
    border: 5px solid red;
}

.del-text {
    margin-bottom: 7px;
}

.del-text:focus {
    border: red;
    box-shadow: 0 0 0 0.25rem rgb(255, 0, 0, 0.4);
}

.del-text:hover {
    border: 1px solid red;
}

#delete-account {
    width: 200px;
    height: 50px;
    font-size: x-large; 
    font-weight: bolder;
}

#delete-account:hover {
    background-color: #DB4437;
    border: 1px solid red;
}