.main {
    display: flex;
    flex-flow: column;
}

.navbar {
    min-height: 55px;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand:hover {
    transform: translateY(-5px);
    transform: scale(1.1);
}

span {
    font-size: 30px;
    font-family: 'Product Sans', sans-serif;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.dash {
    padding-left: 2px;
    padding-right: 2px;
}

.yellow {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}

.body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Index.html stylesheet */

.index-header {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 35px;
    padding: 15px;
    background: #e8e8e8;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 35%;
    min-width: 350px;
}

.welcome {
    display:flex;
    flex-flow: column;
    align-items: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-top: 15px;
    margin-bottom: 5px;
}

.welcome-span {
    display: flex;
}

h1 {
    font-size: 50px;
}

span h1 {
    font-size: 80px;
}

.header-para {
    font-size: large;
    letter-spacing: .2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.login {
    margin-right: 10px;
}

.btn-primary {
    width: 120px;
    color: black;
    background-color: #dadada;
    border: 1px solid black;
    position: relative;
}

.btn-primary:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.btn-primary:active {
    transform: translateY(0px);
}

.login-btn {
    margin-left: 5px;
}

/* Login Pop Up */

.login-container,
.register-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 40px 75px;
    width: 45%;
    min-width: 550px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    opacity: 100%;
}

.blur {
    filter: blur(5px);
}

.hide {
    display: none;
}

.login-header,
.register-header {
    margin-bottom: 25px;
}

.close-login,
.close-register {
    border: 0px;
    border-radius: 100px;
    font-size:large;
    color: #000;
    background: #ffffff;
    position: fixed;
    top: 2%;
    left: 95%;
}

button.close-login:hover,
button.close-register:hover {
    transform: scale(1.2);
}

button.close-login:active,
button.close-register:active {
    transform: translateY(3px);
}

.login-form,
.register-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 15px;
}

.user {
    width: 65px;
}

.login-submit,
.register-submit {
    margin-top: 15px;
    width: 100%;
}

.forgot-pass {
    font-size: 10px;
    padding: 5px;
    margin-left: auto;
}

.show-pass,
.reg-show-pass {
    margin-left: 150px;
}