{% extends 'layout.html' %}

{% block script %}
    <script src="/static/account.js" defer></script>
{% endblock %}

{% block nav %}
    <a class="navbar-brand" href="/weather"><span class="blue">2</span><span class="red dash">-</span><span class="yellow">D</span><span class="green">U</span><span class="red">E</span></a>
    <h2 class="weather-header"><em>MY ACCOUNT</em></h2>

    <div class="login btn-group">
        <button type="button" class="btn btn-danger" id="menu-btn">Welcome, {{ username }} !</button>
        <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="/daily" class="dropdown-item" id="daily-drop">2DUE DAILY</a></li>
            <li><a href="/monthly" class="dropdown-item" id="monthly-drop">2DUE MONTHLY</a></li>
            <li><a href="/yearly" class="dropdown-item" id="yearly-drop">2DUE YEARLY</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="/weather" class="dropdown-item" id="weather-drop">WEATHER</a></li>
            <li><a href="/account" class="dropdown-item" id="my-account">My Account</a></li>
            <li><a href="/logout" class="dropdown-item" id="logout">LOG OUT</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}

    <!-- Main profile tab -->
    <div class="account-header">
        <div class="welcome">
            <h1 class="yellow">2-DUE PROFILE</h1>
            <div class="account">
                <p class="acc-user">Username: </p>
                <input class="form-control mx-auto w-auto" id="user" name="user" placeholder='{{ username }}' type="text" readonly>
            </div>
            <div class="account">
                <p class="acc-user">Security Code: </p>
                <input class="form-control mx-auto w-auto" id="pass" name="pass" placeholder='{{ code }}' type="text" readonly>
            </div>
            <div class="account">
                <button type="button" class="btn btn-primary change-user">Change Username</button>
                <button type="button" class="btn btn-primary change-pass">Change Password</button>
            </div>
            <div class="account">
                <button type="button" class="btn btn-danger delete-account">DELETE ACCOUNT</button>
            </div>
        </div>
    </div>

    <!-- Change Username Popup -->
    <div class="register-container username-pop hide">
        <div class="close-register">
            <button class="close-register" type="button">X</button>
        </div>
        <div class="register-header">
            <h1>Change Username</h1>
        </div>
        <div class="register-content">
            <form action="/account" class="register-form" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-user" name="new-user" type="text" placeholder="New Username">
                </div>
                <button class="btn btn-primary" id="change-user" name="change-user" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Change Password Popup-->
    <div class="register-container password-pop hide">
        <div class="close-register">
            <button class="close-register" type="button">X</button>
        </div>
        <div class="register-header">
            <h1>Change Password</h1>
        </div>
        <div class="register-content">
            <form action="/account" class="register-form" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-pass" name="new-pass" type="text" placeholder="New Password">
                </div>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm-new-pass" name="confirm-new-pass" type="text" placeholder="Confirm Password">
                </div>
                <button class="btn btn-primary" id="change-pass" name="change-pass" type="submit">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}