{% extends 'layout.html' %}

{% block script %}
    <script src="/static/2due.js" defer></script>
{% endblock %}

{% block nav %}
    <a class="navbar-brand" href="/daily"><span class="blue">2</span><span class="red dash">-</span><span class="yellow">D</span><span class="green">U</span><span class="red">E</span></a>
    <h2 class="weather-header"><em>2-DUE DAILY</em></h2>

    <div class="login btn-group">
        <button type="button" class="btn btn-danger" id="menu-btn">Welcome, {{ username }} !</button>
        <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="/daily" class="dropdown-item" id="daily-drop">2DUE DAILY</a></li>
            <li><a href="/monthly" class="dropdown-item" id="monthly-drop">2DUE MONTHLY</a></li>
            <li><a href="/yearly" class="dropdown-item" id="yearly-drop">2DUE YEARLY</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="/weather" class="dropdown-item" id="weather-drop">WEATHER</a></li>
            <li><a href="/account" class="dropdown-item" id="my-account">My Account</a></li>
            <li><a href="/logout" class="dropdown-item" id="logout">LOG OUT</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}

    <!-- Add Daily Goals Form -->
    <form action="/daily" class="daily" method="post">
        <div class="daily-header">
            <h3>Set and Achieve Goals By Adding To Your 2-DUE List!</h3>
        </div>
        <div class="mb-3 goals">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="daily" name="daily" placeholder="Set Goal" size="50" required>
            <select class="form-select select" name="goal-type" id="goal-type" required >
                <option value="select" selected disabled>Frequency</option>
                <option value="today">Today</option>
                <option value="everyday">Everyday</option>
            </select>
            <button class="btn btn-primary" id="daily-submit" name="daily-submit" type="submit">Add</button>
        </div>
    </form>

     <!-- Today's Tasks -->
     <div class="daily-table">
        <h2 style="text-align: center;">2-DUE TODAY</h2>
        <table class="table table-hover table-bordered">
            <caption>My Tasks For Today</caption>
            <thead>
                <tr class="table-secondary">
                    <th class="text-start task-head">Task</th>
                    <th class="text-start">Complete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% if daily %}
            {% for row in daily %}
            <tr>
                <td class="text-start task">{{ row.task }}</td>
                {% if row.completeness == 'incomplete' %}
                <td class="center-td"><input type='checkbox' id='{{ row.id }}' name="{{ row.id }}"></td>
                {% else %} 
                <td class="center-td"><input type="checkbox" id="{{ row.id }}" name="{{ row.id }}" checked></td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Everyday Tasks -->
    <div class="daily-table">
        <h2 style="text-align: center;">2-DUE DAILY</h2>
        <table class="table table-hover table-bordered">
            <caption>My Everday Tasks</caption>
            <thead>
                <tr class="table-secondary">
                    <th class="text-start task-head">Task</th>
                    <th class="text-start">Complete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% if everyday %}
            {% for row in everyday %}
            <tr>
                <td class="text-start task">{{ row.task }}</td>
                {% if row.completeness == 'incomplete' %}
                <td class="center-td"><input type='checkbox' id='{{ row.id }}' name="{{ row.id }}"></td>
                {% else %} 
                <td class="center-td"><input type="checkbox" id="{{ row.id }}" name="{{ row.id }}" checked></td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}