{% extends "layout.html" %}

{% block nav %}
    <div class="login">
        <button type="button" class="btn btn-primary">Sign Up</button>
        <button type="button" class="btn btn-primary login-btn">Log In</button>
    </div>
{% endblock %}

{% block main %}
    
    <!-- Welcome Container -->
    <div class="index-header">
        <div class="welcome">
            <h1 class="yellow">Welcome</h1>
            <h1 class="yellow">to</h1>
            <span class="welcome-span"><h1 class="blue">2</h1><h1 class="red dash">-</h1><h1 class="yellow">D</h1><h1 class="green">U</h1><h1 class="red">E</h1></span>
        </div>
        <p class="header-para">A Personalized To-Do List Web Application</p>
    </div>

    <!-- Login Popup -->
    <div class="login-container hide">
        <div class="close-login">
            <button type="button" class="close-login">X</button>
        </div>
        <div class="login-header">
            <img class="user" src="/static/images/164600.png" alt="user icon">
        </div>
        <div class="login-content">
            <form class='login-form' action="/" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-primary login-submit" type="submit">Log In</button>
                <a class='forgot-pass' href="#">Forgot Password</a>
            </form>
        </div>
    </div>
    
    <!-- Register Popup-->
    <div class="register-container">
        <div class="close-register">
            <button class="close-register" type="button">X</button>
        </div>
        <div class="register-header">
            <h2>Welcome!</h2>
        </div>
        <div class="register-content">
            <form action="/" class="register-form" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="Username" name="Username" type="text" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control mx-auto w-auto" id="Password" name="Password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control mx-auto w-auto" id="Verify-Pass" name="verify-pass" placeholder="Confirm Password">
                </div>
                <button class="btn btn-primary register-submit" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}