{% extends 'layout.html' %}

{% block script %}
    <script src="/static/2due.js" defer></script>
{% endblock %}

{% block nav %}
    <a class="navbar-brand" href="/yearly"><span class="blue">2</span><span class="red dash">-</span><span class="yellow">D</span><span class="green">U</span><span class="red">E</span></a>
    <h2 class="weather-header"><em>2-DUE YEARLY</em></h2>

    <div class="login btn-group">
        <button type="button" class="btn btn-danger" id="menu-btn">Welcome, {{ username }} !</button>
        <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="/daily" class="dropdown-item" id="daily-drop">2DUE DAILY</a></li>
            <li><a href="/monthly" class="dropdown-item" id="monthly-drop">2DUE MONTHLY</a></li>
            <li><a href="/yearly" class="dropdown-item" id="yearly-drop">2DUE YEARLY</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="/weather" class="dropdown-item" id="weather-drop">WEATHER</a></li>
            <li><a href="/account" class="dropdown-item" id="my-account">My Account</a></li>
            <li><a href="/logout" class="dropdown-item" id="logout">LOG OUT</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    
    <!-- Add Daily Goals Form -->
    <form action="/yearly" class="daily" method="post">
        <div class="daily-header">
            <h3>Set and Achieve Goals By Adding To Your Yearly 2-DUE List!</h3>
        </div>
        <div class="mb-3 goals">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="daily" name="annually" placeholder="Set Goal" size="50" required>
            <select class="form-select select" name="goal-type" id="goal-type">
                <option value="select" selected disabled>Frequency</option>
                <option value="year">This Year</option>
                <option value="annual">Every Year</option>
            </select>
            <button class="btn btn-primary" id="daily-submit" name="yearly-submit" type="submit">Add</button>
        </div>
    </form>

    
    <form action="/yearly" class="save-today" method="post">
        <!-- Month Tasks -->
        <div class="daily-table">
            <h2 style="text-align: center; margin-top: 25px;">2-DUE THIS YEAR</h2>
            <h4 style="text-align: center;">{{ this_year }}</h4>
                <table class="table table-hover table-bordered">
                    <caption>My Tasks For This Year</caption>
                    <thead>
                        <tr class="table-secondary">
                            <th class="text-center task-id">Id #</th>
                            <th class="text-start task-head">Task</th>
                            <th class="text-start">Complete</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% if year %}
                    {% for row in year %}
                    <tr>
                        <td class="text-center">{{ row.task_id }}</td>
                        <td class="text-start task">{{ row.task }}</td>
                        {% if row.completeness == 'incomplete' %}
                        <td class="center-td"><input type='checkbox' id='incomplete' value="{{ row.task_id }}" name="checkbox"></td>
                        {% else %} 
                        <td class="center-td" id="complete"><input type="checkbox" value="{{ row.task_id }}" name="checkbox" checked></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
        </div>
        
        <!-- Every Month -->
        <div class="daily-table">
            <h2 style="text-align: center;">2-DUE ANNUALLY</h2>
            <table class="table table-hover table-bordered">
                <caption>My Anually Recurring Tasks</caption>
                <thead>
                    <tr class="table-secondary">
                        <th class="text-center task-id">Id #</th>
                        <th class="text-start task-head">Task</th>
                        <th class="text-start">Complete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% if annual %}
                {% for row in annual %}
                <tr>
                    <td class="text-center">{{ row.task_id }}</td>
                    <td class="text-start task">{{ row.task }}</td>
                    {% if row.completeness == 'incomplete' %}
                    <td class="center-td"><input type='checkbox' id='incomplete' value="{{ row.task_id }}" name="checkbox"></td>
                    {% else %} 
                    <td class="center-td" id="complete"><input type="checkbox" id="complete" value="{{ row.task_id }}" name="checkbox" checked></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="end">
            <label for="date">Date: </label>
            <input type="date" id="date" name="date">
        </div>
        <button type="submit" class="btn btn-primary" id="save-daily" name="save-daily">Save Changes</button>
    </form>

    <!-- Remove Goals Form -->
    <form action="/yearly" class="daily" method="post">
        <div class="daily-header">
            <h3>Remove Unwanted or Completed Tasks</h3>
        </div>
        <div class="remove">
            <label for="remove">Remove Task: </label>
            <input type="number" class="form-control w-auto" autocomplete='off' placeholder='Id #' name="remove" id="remove" required>
            <button class="btn btn-primary" id='remove-submit' name="remove-submit" type="submit">Remove Task</button>
        </div>
    </form>
{% endblock %}